@use '../variables/colors.scss';

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-center-col {
  @extend .container-center;
  flex-direction: column;
}

.container-center-full {
  @extend .container-center;
  height: 100%;
  width: 100%;
}

.container-left {
  display: flex;
  flex-direction: column;
}

.container-spaced-out {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1em;
}

.container-spaced-out-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
